.opacity-50-100 {
    opacity: 0.5 !important;
}

.opacity-50-100:hover {
    -webkit-animation-name: op50-100;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: op50-100;
    opacity: 1 !important;
    animation-duration: 0.5s;
}
.square-150x150 {
    width: 150px !important;
    height: 150px !important;
    position: absolute;
}
.opacity-0 {
    opacity: 0;
}
.cursor-pointer {
    cursor: pointer;
}